
<div id="about">
  <div class="about-team">
    <h1><i class="fa fa-heart"></i> My buddies of the day <i class="fa fa-heart"></i></h1>
    <ul class="list-inline">
      <% ["olinott", "clarisb", "JohndeSchrevel"].each do |gh_username| %>
        <li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle" %>
          <h3> <%= gh_username.capitalize %></h3>
        </li>
      <% end %>
    </ul>
  </div>
</div>

